In [16]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [17]:
import pymysql.cursors
from sqlalchemy import create_engine

In [18]:
host = 'den1.mysql6.gear.host'
db = 'situation'
usr = 'situation'
psword = 'cogni88.'

# Connect to the database
engine = create_engine('mysql+pymysql://%s:%s@%s:%s/%s?charset=utf8'
                       % (usr, psword, host, '3306', db))

In [4]:
import pandas as pd

In [19]:
UserId = 'toipha'
sql = "SELECT * FROM situation.o15_environmental_data;"

# with connection.cursor() as cursor:
#   cursor.execute(sql % UserId)

df_raw = pd.read_sql(sql, engine)
print(df_raw)

    id          location           timestamp     image_url   NO2  PM2_5  PM10  \
0    1      New York, NY 2024-04-30 12:00:00   image_url_1  24.5   15.0  20.0
1    2   Los Angeles, CA 2024-04-30 13:00:00   image_url_2  20.0   25.0  30.0
2    3       Chicago, IL 2024-04-30 14:00:00   image_url_3  18.0   20.0  25.0
3    4       Houston, TX 2024-04-30 15:00:00   image_url_4  22.0   23.0  27.0
4    5       Phoenix, AZ 2024-04-30 16:00:00   image_url_5  10.0   12.0  15.0
5    6  Philadelphia, PA 2024-04-30 17:00:00   image_url_6  25.0   16.0  22.0
6    7   San Antonio, TX 2024-04-30 18:00:00   image_url_7  21.0   18.0  24.0
7    8     San Diego, CA 2024-04-30 19:00:00   image_url_8  19.0   14.0  19.0
8    9        Dallas, TX 2024-04-30 20:00:00   image_url_9  23.0   21.0  26.0
9   10      San Jose, CA 2024-04-30 21:00:00  image_url_10  15.0   13.0  18.0
10  11        Austin, TX 2024-04-30 22:00:00  image_url_11  17.0   22.0  23.0
11  12  Jacksonville, FL 2024-04-30 23:00:00  image_url_12  24.0   24.0  29.0
12  13    Fort Worth, TX 2024-05-01 00:00:00  image_url_13  20.0   17.0  21.0
13  14      Columbus, OH 2024-05-01 01:00:00  image_url_14  16.0   15.0  20.0
14  15     Charlotte, NC 2024-05-01 02:00:00  image_url_15  18.0   19.0  24.0
15  16       Detroit, MI 2024-05-01 03:00:00  image_url_16  22.0   20.0  25.0
16  17       El Paso, TX 2024-05-01 04:00:00  image_url_17  21.0   23.0  28.0
17  18       Memphis, TN 2024-05-01 05:00:00  image_url_18  19.0   18.0  22.0
18  19        Boston, MA 2024-05-01 06:00:00  image_url_19  23.0   21.0  26.0
19  20       Seattle, WA 2024-05-01 07:00:00  image_url_20  17.0   25.0  30.0
20  21        Denver, CO 2024-05-01 08:00:00  image_url_21  24.0   16.0  20.0
21  22    Washington, DC 2024-05-01 09:00:00  image_url_22  20.0   20.0  25.0
22  23     Nashville, TN 2024-05-01 10:00:00  image_url_23  22.0   22.0  27.0
23  24     Baltimore, MD 2024-05-01 11:00:00  image_url_24  18.0   19.0  23.0
24  25    Louisville, KY 2024-05-01 12:00:00  image_url_25  21.0   17.0  21.0
25  26      Portland, OR 2024-05-01 13:00:00  image_url_26  23.0   15.0  20.0

     CO    O3   SO2  temperature  humidity  wind_speed wind_direction  \
0   0.6  30.0  10.0         22.0      45.0         5.0             NE
1   0.3  28.0   9.0         19.0      50.0         3.5             SW
2   0.5  34.0   8.0         16.0      55.0         4.0             NW
3   0.7  32.0  12.0         28.0      40.0         2.0              S
4   0.4  40.0   7.0         35.0      25.0         6.0             SE
5   0.8  36.0  11.0         24.0      48.0         5.5              E
6   0.3  25.0  10.0         21.0      60.0         7.0             NE
7   0.5  38.0   6.0         27.0      35.0         3.0              W
8   0.6  29.0  13.0         30.0      42.0         4.5             SW
9   0.2  31.0   9.0         18.0      55.0         2.0             NW
10  0.4  33.0   8.0         20.0      53.0         3.5             SE
11  0.7  27.0  14.0         26.0      47.0         6.0              E
12  0.3  35.0  10.0         23.0      52.0         5.0             NE
13  0.5  32.0   7.0         17.0      60.0         7.0              W
14  0.6  30.0   6.0         25.0      50.0         4.5             SW
15  0.8  28.0  11.0         21.0      45.0         2.0             NW
16  0.4  36.0  12.0         29.0      40.0         3.0              S
17  0.7  34.0   9.0         27.0      55.0         6.0             SE
18  0.5  29.0  10.0         16.0      48.0         5.5              E
19  0.2  31.0   8.0         19.0      60.0         4.0             NE
20  0.3  33.0   7.0         28.0      35.0         2.0              W
21  0.6  35.0  13.0         24.0      42.0         3.5             SW
22  0.4  27.0  14.0         22.0      53.0         7.0             NW
23  0.8  36.0  11.0         30.0      47.0         5.0              S
24  0.5  38.0   6.0         35.0      50.0         4.5             SE
25  0.7  34.0   9.0         18.0      45.0         3.0              E

    precipitation
0             0.0
1             0.0
2             0.1
3             0.0
4             0.0
5             0.0
6             0.0
7             0.0
8             0.1
9             0.0
10            0.0
11            0.1
12            0.0
13            0.0
14            0.0
15            0.1
16            0.0
17            0.0
18            0.1
19            0.0
20            0.0
21            0.0
22            0.1
23            0.0
24            0.0
25            0.0